<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lock">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme,android:allowBackup">

        <!-- 该行及上面一行处理9.0系统  三方BUG https请求 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity android:name=".ui.News"/>
        <activity android:name=".ui.order.OrderActivity" />
        <activity android:name=".ui.forget.ForgetActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.user.UserActivity" />
        <activity android:name=".ui.message.MessageActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.money.MoneyActivity" />
        <activity android:name=".ui.moneyin.MoneyInActivity" />
        <activity android:name=".ui.changepass.ChangepassActivity" />
        <activity android:name=".ui.changepaypass.ChangePayPassActivity" />
        <activity android:name=".ui.bill.BillActivity" />
        <activity android:name=".ui.moneyout.MoneyOutActivity" />
        <activity android:name=".ui.help.HelpActivity" />
        <activity android:name=".ui.bindaccount.BindAccountActivity" />
        <activity android:name=".ui.area.AreaActivity" />
        <activity android:name=".ui.moneyoutok.MoneyOutOkActivity" />
        <activity android:name=".ui.orderinfo.OrderInfoActivity" />
        <activity android:name=".ui.service.ServiceActivity" />
        <activity android:name=".ui.zxing.activity.CaptureActivity" />
        <activity
            android:name=".ui.lockup.LockUpActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:name=".ui.lockup.person.PersonActivity" />
        <activity android:name=".ui.map.MapActivity" />
        <activity
            android:name=".ui.Splash"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="96c4de55071a332431d443992e2715fe" />
    </application>

</manifest>